
body {
  margin: 0;
  padding-top: 85px;  
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed !important;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 60px;
    height: 70px;
    margin-left: 30px;
}

/* Right Section */
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Searchbar */
.nav-search {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 100px;
}

.nav-search select {
    border: none;
    padding: 8px;
    background: #f8f8f8;
}

.nav-search input {
    border: none;
    padding: 8px;
    flex: 1;
    min-width: 400px;
}

.search-btn {
    background: #fbbd08;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

/* Icons */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-box {
    position: relative;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    color: green;
}

.badge {
    position: absolute;
    top: -15px;
    left: 15px;
    background: green;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}

/* Login Button */
.login-btn {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

/* Toggle Button */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-left: 15px;
}

/* Responsive */
@media (max-width: 900px) {
    .menu-toggle {
        display: block;
    }

    .nav-right {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 15px;
        display: none;
        gap: 20px;
        z-index: 999;
    }

    .nav-right.active {
        display: flex;
    }

    .nav-search {
        width: 100%;
    }

    .nav-search input {
        width: 100%;
        min-width: auto;
    }

    .nav-icons {
        width: 100%;
        justify-content: space-between;
    }
}

.account-dropdown .dropdown-menu {
    left: auto !important;
    right: 0 !important;
}